<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Rijubrata Mukherjee. It uses data from mapbox.com and darksky.net!</p>
        <img class="potrait" src="/img/Pass_Photo.jpg">
    </div>
    {{>footer}}
</body>